.case {
  position: relative;
  margin-bottom: 16rem;

  &__img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(100vw * 9 / 16);
  }
}

.case__card {
  top: 80%;
  width: 100%;
  position: absolute;

  &:hover,
  &:focus-within {
    .case__card-content {
      transform: translateX(-50%) translateY(-1rem);
    }
    .case__dropshadow {
      transform: translateX(-50%) translateY(0.25rem);
    }
    .case__dropshadow::before {
      transform: translateX(-50%) translateY(-0.42rem);
    }
    .case__dropshadow::after {
      transform: translateX(-50%) translateY(-0.84rem);
    }
  }
}

.case__card-content {
  padding: 1rem;
  position: relative;
  // border: 4px solid #005490;
  width: calc(100% - 2rem);
  // height: 10rem;
  background-color: white;
  // margin: 0 auto;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  // opacity: 10%;
}

.case__dropshadow,
.case__dropshadow::before,
.case__dropshadow::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.case__dropshadow {
  bottom: 0;
  margin: 0 auto;
  width: calc(100% - 5rem);
  height: 4rem;
  background-color: rgba(204, 225, 240, 0.52);

  &::before {
    content: "";
    background-color: #99c3e1;
    height: 4rem;
    bottom: 0;
    width: calc(100% + 1rem);

    // outline: 1px solid gray;
  }

  &::after {
    content: "";
    background-color: #3387c3;
    height: 4rem;
    bottom: 0;
    width: calc(100% + 2rem);

    // outline: 1px solid gray;
  }
}

.case__card-content,
.case__dropshadow,
.case__dropshadow::after,
.case__dropshadow::before {
  transition: transform 0.1s ease-out;
}

.shadows {
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024), 0 0px 10px rgba(0, 0, 0, 0.035),
    0 0px 24.1px rgba(0, 0, 0, 0.046), 0 0px 80px rgba(0, 0, 0, 0.07);
}

.case__title {
  position: relative;
  font-weight: 700;
  color: $color-primary-dark;
  display: block;
}
.case__description {
  position: relative;
  // font-weight: 700;
  // color: $color-primary-dark;
  display: block;
}

.case__card-content > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.case__link {
  padding: 1rem 0.5rem;
  margin: -1rem -0.5rem;
  background-image: linear-gradient(
    $color-primary-default,
    $color-primary-default
  );
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: 90% 2px;
  transition: background-size 0.2s ease;
  display: inline;
  // position: relative;

  &::before {
    content: "";
    position: absolute;
    // outline: 1px red solid;
    // background-color: gold;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    background-size: 90% 2px;
  }
}

.case__card-content {
  z-index: 1;
}

.case__title {
  z-index: 3;
}
.case__description {
  z-index: 3;
}
.case__link {
}
.case__link::before {
  z-index: 4;
}

.case__card-content {
  // background-color: gray;
}
