.card {
  position: relative;
  max-width: calc(100% - 1rem);
  margin-left: auto;
  border: 4px solid map-get($color-primary, 600);
  margin-bottom: 10rem;
  color: $text-lite-bg;
}
.card,
.card__text {
  display: flex;
  flex-direction: column;
}

//////////////////////////////
// || Card Text
//////////////////////////////

.card__text {
  background-color: $color-white;
  flex-grow: 1;
  order: 1;
  padding: 1rem;

  & > * + * {
    margin: 0;
    margin-top: 0.75rem;
  }
}

.card__title {
  font-weight: 700;
}

.card__link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card__description {
  font-size: 1.125rem;
  font-weight: 500;
}

.card__cta {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.125rem;
  font-family: $secondary-type;
  font-weight: 500;
  letter-spacing: (1/20) * 1rem;
}
// .card__cta-label {
//   display: inline-flex;
//   justify-content: start;
//   align-items: center;
//   outline: 2px solid map-get($color-primary, 600);
// }
.card__cta-icon {
  fill: currentcolor;
  line-height: 100%;
  display: inline;
  margin-left: 0.25rem;
  // margin-top: 0.25px;
  width: 1.25rem;
  height: 1.25rem;
}

//////////////////////////////
// || Card image
//////////////////////////////

.card__img {
  height: 16rem;
  overflow: hidden;
}

.card__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card a:focus {
  @include link-focus;
  text-decoration: underline;
}

.card:focus-within {
  & .card__link {
    outline: none;
    text-decoration: none;
  }
  & .card__text {
    @include link-focus;
    outline-offset: -0.5rem;
  }
}
////////////////////////
// || Card shadow styles
////////////////////////

.shadow {
  &--accordion {
    box-shadow: 0 16px 0 -8px map-get($color-primary, 300),
      0 32px 0 -16px map-get($color-primary, 500),
      0 48px 0 -24px map-get($color-primary, 700);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  &--top-right {
    // outline: none;
    // border: none;
    box-shadow: -8px 8px 0 0px map-get($color-primary, 600),
      -16px 16px 0 0px map-get($color-primary, 400),
      // -12px 12px 0 0px map-get($color-primary, 300)
;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-20px);
      box-shadow: -16px 16px 0 0px map-get($color-primary, 400),
        -32px 32px 0 0px map-get($color-primary, 200),
        // -18px 18px 0 0px map-get($color-primary, 100)
;
    }
  }

  &--top {
    box-shadow: -16px 16px 0 0px map-get($color-primary, 400);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-20px);
      box-shadow: -24px 24px 0 0px map-get($color-primary, 200);
    }
  }
}
/////////////////////////////
// || Media Queries
/////////////////////////////

@media all and (min-width: $desktop) {
  .card {
    position: relative;
    flex-direction: row;
    border: none;
    align-content: center;
    margin-bottom: 12rem;

    &[class*="shadow"] {
      box-shadow: none;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }

  li.card:nth-child(2n + 2) {
    & .card__text {
      right: 0;
    }

    & .card__img {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .card__text {
    background-color: $color-white;
    position: absolute;
    border: 4px solid currentColor;
    flex-grow: 1;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
  }
  .card__title {
  }

  .card__link {
  }

  .card__description {
  }

  .card__cta {
  }

  .card__img {
    margin-left: auto;
    height: auto;
    // max-height: 24rem;
    max-width: calc((2 / 3) * 100%);
  }

  .card__img img {
    transition: transform 0.2s;
  }

  .shadow {
    &--accordion .card__text {
      z-index: 1;
      box-shadow: 0 12px 0 -8px map-get($color-primary, 500),
        0 24px 0 -16px map-get($color-primary, 300),
        0 36px 0 -24px map-get($color-primary, 100);
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: translateY(-55%);
        box-shadow: 0 16px 0 -8px map-get($color-primary, 500),
          0 32px 0 -16px map-get($color-primary, 300),
          0 48px 0 -24px map-get($color-primary, 100);
      }
    }
    &--top-right .card__text {
      z-index: 1;
      box-shadow: -8px 8px 0 0px map-get($color-primary, 600),
        -16px 16px 0 0px map-get($color-primary, 400);
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: translateY(-55%);
        box-shadow: -12px 12px 0 0px map-get($color-primary, 400),
          -24px 24px 0 0px map-get($color-primary, 200);
      }
    }
    &--top .card__text {
      z-index: 1;
      box-shadow: -12px 12px 0 0px hsla(205, 60, 26, 0.6);
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: translateY(-55%);
        box-shadow: -20px 20px 0 0px hsla(205, 60, 50, 0.6);
      }
    }
  }
}
