.card {
  position: relative;
  max-width: 100%;
  background-color: $color-white;
  border: 4px solid map-get($color-primary, 600);
  margin-bottom: 10rem;
  color: map-get($color-primary, 600);
}
.card,
.card__text {
  display: flex;
  flex-direction: column;
}

//////////////////////////////
// || Card Text 
//////////////////////////////

.card__text {
  flex-grow: 1;
  order: 1;
  padding: 1rem;

  & > * + * {
    margin: 0;
    margin-top: 0.75rem;
  }
}

.card__title {
  font-weight: 700;
}

.card__link {
  color: map-get($color-primary, 600);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card__description {
  font-size: 1.125rem;
  font-weight: 500;
}

.card__cta {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.125rem;
  font-family: $secondary-type;
  font-weight: 500;
  letter-spacing: (1/20) * 1rem;
}
// .card__cta-label {
//   display: inline-flex;
//   justify-content: start;
//   align-items: center;
//   outline: 2px solid map-get($color-primary, 600);
// }
.card__cta-icon {
  fill: map-get($color-primary, 600);
  line-height: 100%;
  display: inline;
  margin-left: 0.25rem;
  // margin-top: 0.25px;
  width: 20px;
  height: 24px;
}


//////////////////////////////
// || Card image
//////////////////////////////

.card__img {
  height: 16rem;
}

.card__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card a:focus {
  @include link-focus;
  text-decoration: underline;
}

.card:focus-within {
  box-shadow: 0 16px 0 -8px map-get($color-primary, 500),
    0 32px 0 -16px map-get($color-primary, 300),
    0 48px 0 -24px map-get($color-primary, 100);
}

.card:focus-within {
  & .card__link {
    outline: none;
    text-decoration: none;
  }
  & .card__text {
    @include link-focus;
    outline-offset: -0.5rem;
  }
}
////////////////////////
// || Card shadow styles
////////////////////////

.card.shadow {
  &--accordion {
    box-shadow: 0 12px 0 -8px map-get($color-primary, 500),
    0 24px 0 -16px map-get($color-primary, 300),
    0 36px 0 -24px map-get($color-primary, 100);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 16px 0 -8px map-get($color-primary, 500),
      0 32px 0 -16px map-get($color-primary, 300),
      0 48px 0 -24px map-get($color-primary, 100);
  }
  }
  &--top-right {
    outline: none;
    border: none;
    box-shadow: 
    -4px 4px 0 0px map-get($color-primary, 600),
    -8px 8px 0 0px map-get($color-primary, 400),
    // -12px 12px 0 0px map-get($color-primary, 300)
    ;
    transition: transform 0.2s, box-shadow 0.2s;
    
    &:hover {
      transform: translateY(-20px);
      box-shadow: -16px 16px 0 0px map-get($color-primary, 100);
      box-shadow: 
      -8px 8px 0 0px map-get($color-primary, 400),
      -16px 16px 0 0px map-get($color-primary, 200),
      // -18px 18px 0 0px map-get($color-primary, 100)
      ;
    }
  }

  &--top {
    // border: none;
    box-shadow: -8px 8px 0 0px map-get($color-primary, 400);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-20px);
      box-shadow: -24px 24px 0 0px map-get($color-primary, 200);
    }
  }
}
