////////////////////////
// || Color
////////////////////////
.footer-wrapper {
  color: $color-white;
  background: linear-gradient(
    315deg,
    map-get($color-primary, 800) 9.69%,
    map-get($color-primary, 900) 87.23%
  );
  z-index: 1;
}

////////////////////////
// || Typography
////////////////////////
.footer-wrapper {
  font-family: $secondary-type;
  font-weight: $normal;
  font-size: 100%;
}

.footer__link {
  line-height: 150%;
}

.footer__copyright {
  font-size: calc((14 / 16) * 100%);
}

/////////////////////////
// || Layout
/////////////////////////

.footer {
  // @include spacer(p, 2, rl);
  padding-top: 2rem;
  padding-bottom: 1rem;

  &__logo {
    line-height: 0;
    margin-bottom: 2rem;
    display: inline-flex;
    justify-content: start;
    align-items: flex-start;
    max-width: 27em;
  }

  &__img {
    fill: currentColor;
    width: 3rem;
    height: calc(72 / 48 * 3rem);
    flex-grow: 0;
    margin-right: 1.5rem;
  }
  &__bio {
    display: block;
    flex-grow: 1;
    padding: 0;
    margin-bottom: 0;
  }

  /////////////////////
  // Menu & Copyright
  /////////////////////

  &__content {
    @media all and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu {
    padding-inline-start: 0;
    margin-bottom: 2rem;

    @media all and (min-width: $tablet) {
      margin: 0;
    }
  }
  &__item {
    display: block;
    margin-bottom: 0.5rem;

    @media all and (min-width: $tablet) {
      display: inline;
      margin-bottom: 0;
      margin-right: 1.5rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 0.5rem 0;
    margin: -0.5rem 0;
  }

  &__copyright {
    display: inline-block;
    padding: 0;
    margin: 0;

    @media all and (min-width: $tablet) {
      position: relative;
      right: 0;
      bottom: 0;
    }
  }
}

.footer__link span,
.footer__link:link span,
.footer__link:visited span {
  background-image: linear-gradient(hsla(220, 66, 95, 1), hsla(220, 66, 95, 1));
  background-size: 100% 2px;
  // background-position-x: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
}
