.hero {
  margin: calc(30vh - 6rem) 0;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__title {
    margin-bottom: 1.5rem;

    &--small {
      font-size: 2rem;
      line-height: 100%;
      margin-bottom: 0.5rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    max-width: (400 / 16) * 1em;
  }
}

#about .hero {
  padding-top: 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
