.hero {
  // margin: calc(30vh - 6rem) 0;
  padding: calc(28vh) 0;

  &__title {
    margin-bottom: 1.5rem;

    &--small {
      font-size: 2rem;
      line-height: 100%;
      margin-bottom: 0.5rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    max-width: (400 / 16) * 1em;
  }
}

#about .hero,
.case-study .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14vh;
  &__text {
    flex-grow: 2;
    // flex-basis: 1;
  }
  &__img {
    // flex-shrink: 1;
    height: 20rem;
    overflow: hidden;
    width: 50%;

    box-shadow: -16px 16px 0 0px map-get($color-primary, 300);
  }

  &__img img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
}

.content > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
