.link {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

.link--light {
  &:link,
  &:visited {
    color: $color-white;
    background: linear-gradient(to bottom, $color-white 0%, $color-white 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 1px;
    // color: #000;
    transition: background-size 0.3s, color 0.2s, background-image 0.2s;
  }

  &:hover,
  &:focus {
    background-size: 100% 100%;
    color: $color-secondary-dark;
    // font-weight: $semibold;
  }
}

.link--dark {
  color: $color-txt-primary;
  background: linear-gradient(
    to bottom,
    $color-txt-primary 0%,
    $color-txt-primary 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  // color: #000;
  transition: background-size 0.1s, color 0.2s, background-image 0.2s;
  &:link,
  &:visited {
    color: $color-txt-primary;
    background: linear-gradient(
      to bottom,
      $color-txt-primary 0%,
      $color-txt-primary 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    // color: #000;
    transition: background-size 0.1s, color 0.2s, background-image 0.2s;
  }

  &:hover,
  &:focus {
    background-size: 100% 40%;
    color: $color-secondary-dark;
    // font-weight: $semibold;
  }
}

// .sr-only {

// }
.sr-only:not(:focus):not(:active) {
  clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
width: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
}

.skip-to-content {
  color: $color-white;
  position: absolute;
  top: -50px;
  left: 0;
  padding: 1rem;
  background-color: $color-secondary-dark;
  z-index: 100000;
  transition: top 0.5s, clip 0s .75s;
  text-decoration: underline;
}

.skip-to-content:focus, 
.skip-to-content:active {
  position: absolute;
  top: 0;
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024), 0 0px 10px rgba(0, 0, 0, 0.035),
  0 0px 24.1px rgba(0, 0, 0, 0.046), 0 0px 80px rgba(0, 0, 0, 0.07);;
  transition: top 0.75s, clip 0s .75s;
}