.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;

  color: $color-txt-primary;
  fill: $color-txt-primary;

  transition: all 0.2s;

  &--dark-bg {
    color: $color-white;
    fill: $color-white;
  }

  &__img {
    display: inline-block;

    line-height: 0;

    &--big {
      display: inline-block;
      width: 48px;

      height: $navbar-height;
    }
  }

  &__title {
    @include spacer(m, 1, l);
    text-align: center;
    font-size: 3rem;
    // transition: all 0.2s;
  }

  &:hover,
  &:focus {
    color: $color-primary-default;
    fill: $color-primary-default;
  }

  &__img--eyebrows {
    transition: transform 0.2s;
  }

  &:hover &__img--eyebrows,
  &:focus &__img--eyebrows {
    transform: translateY(-2px);
  }
}
