$navbar-height: 6rem; /*-- see variables-widths.scss */
$navbar-height--small: 4rem; /*-- see variables-widths.scss */

$nav-color: hsla(0, 0%, 100%, 1);

////////////////////////////////////
// NEW NAV
////////////////////////////////////
body > *:nth-child(2) {
  margin-top: 6rem;
}

.mobile body {
  overflow: hidden;
}

main.container {
  height: 200vh;
}
.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}
.nav--scrolled {
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024), 0 0px 10px rgba(0, 0, 0, 0.035),
    0 0px 24.1px rgba(0, 0, 0, 0.046), 0 0px 80px rgba(0, 0, 0, 0.07);
}

.nav {
  background: $nav-color;
  font-family: $secondary-type;
  max-width: $website-width - 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
  margin: 0 auto;

  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 2px;
  //   background-image: linear-gradient(to bottom, transparent, #333);
  //   position: relative;
  //   bottom: 0rem;
  //   left: 0;
  //   margin: 0 1rem;
  //   transition: transform 2.1s 0.15s ease-out;
  // }

  //

  @media all and (min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.mobile .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/////////////
// Logo
/////////////
.nav {
  &__logo {
    z-index: 100;
    & > * {
      display: flex;
      justify-content: start;
      align-items: center;
      flex: 1;
      order: 0;
    }
  }

  &__logo-link:hover {
    color: blueviolet;
  }

  &__title {
    font-size: 1.5rem;
    display: none;

    @media all and (min-width: $desktop) {
      display: inline-block;
    }
  }

  &__img {
    height: $navbar-height;
    line-height: 100%;
    padding: 1.5rem 0;
    margin-right: 1rem;
    fill: coral;
    transition: height 0.2s, padding 0.2s;

    @media all and (min-width: $tablet) {
      fill: cornflowerblue;
    }
    @media all and (min-width: $desktop) {
      height: 5rem;
      padding: 0.75rem 0;
      height: clamp(5rem, 8vh, 7rem);
      fill: green;
    }
  }

  &__logo-link:hover {
    & .nav__img {
      fill: blueviolet;
    }

    & .logo__img--eyebrows {
      transform: translateY(-3px);
    }
  }
}

////////////
// Menu
////////////

.nav {
  &__menu {
    background: $nav-color;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    order: 2;
    height: 0;
    transition: height 0.5s ease-out, overflow 0s 1s ease-out;
    z-index: 99;

    @media all and (min-width: $tablet) {
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      margin-bottom: 0;
      z-index: 99;
      width: auto;
      height: auto;
      min-height: unset;
      overflow: visible;
      // transition: opacity 0s, visibility 0s;
    }
  }
}

//////////////////
// Menu Items/Links
//////////////////
.nav {
  &__item {
    // position: relative;
    display: block;
    line-height: 100%;
    text-align: center;

    &:first-child {
      margin-top: 20vh;

      @media all and (min-width: $tablet) {
        margin-top: 0;
      }
    }

    &:not(:last-child):after {
      content: "";
      position: relative;
      display: block;
      width: 20%;
      min-width: 6rem;
      height: 1px;
      background-color: #ddd;
      margin: 0.5rem auto;

      @media all and (min-width: $tablet) {
        display: none;
      }
    }

    @media all and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__link {
    display: inline-block;
    text-align: center;
    min-width: 48px;
    padding: 1rem 0;

    &.nav__link--icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    line-height: 100%;
  }
}

///////////////
// DD Menu
///////////////
.nav {
  &__dd-menu {
    display: block;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    left: 0;

    @media all and (min-width: $tablet) {
      display: none;
      position: absolute;
      left: -1.5rem;
      top: 4rem;
      padding: 1.5rem;
      text-align: left;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024),
        0 0px 10px rgba(0, 0, 0, 0.035), 0 0px 24.1px rgba(0, 0, 0, 0.046),
        0 0px 80px rgba(0, 0, 0, 0.07);
    }

    @media all and (min-width: $tablet) {
      &::before {
        position: absolute;
        top: -1rem;
        left: 0;
        display: block;
        content: "";
        width: 50%;
        height: 1rem;
        // outline: 1px red solid;
      }
    }

    & .nav__link {
      display: inline-block;
      min-width: 48px;
      padding: 1rem 0;

      @media all and (min-width: $tablet) {
        text-align: left;
        padding: 0.5rem 0;
      }
    }
  }
  &__dd-item {
    display: block;
    position: relative;
  }
  &__dd-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @media all and (min-width: $tablet) {
    &__item:hover .nav__dd-menu {
      display: block;
    }
  }
}

//////////////////
//
// BURGER
//
//////////////////
.nav {
  &__toggle {
    border: none;
    z-index: 100;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.5rem;

    &:hover {
      cursor: pointer;
    }

    &:active {
      outline: none;
    }

    @media all and (min-width: $tablet) {
      order: unset;
      display: none;
    }

    &-text {
      font-size: 1rem;
    }
  }

  &__burger {
    line-height: 100%;
    margin-left: 0.5rem;
  }

  & .icon__burger {
    transform-origin: 50% 50%;
    transition: transform 0.5s;

    & .burger-middle {
      transform: scaleX(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s;
    }
    & .burger-top {
      transform-origin: 79.167% 20.83%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }

    & .burger-bottom {
      transform-origin: 79.167% 79.167%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }
    & .burger-middle,
    & .burger-top,
    & .burger-bottom {
      transition: transform 0.25s;
    }
  }
}

// @mixin nav-link($total-time, $count, $order) {
//   $delay: ($total-time/$count) * $order;
//   transition: transform 0.25s calc(#{$delay}* (1s)) ease-in-out;
// }

// .nav__item:nth-of-type(1) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 1);
// }
// .nav__dd-item:nth-of-type(1) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 2);
// }
// .nav__dd-item:nth-of-type(2) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 3);
// }
// .nav__dd-item:nth-of-type(3) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 4);
// }
// .nav__item:nth-of-type(2) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 5);
// }
// .nav__item:nth-of-type(3) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 6);
// }
// .nav__item:nth-of-type(4) > .nav__link {
//   outline: red 1px solid;
//   @include nav-link(0.2, 7, 7);
// }

//////////////////
//
//Menu Open - Burger
//
//////////////////
.mobile .icon__burger {
  transform: rotate(-360deg);
  transition: transform 0.5s;

  & .burger-middle {
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  & .burger-top {
    transform-origin: 79.167% 20.83%;
    transform: rotate(-45deg) scale(1.25, 1) translateX(-2.6px);
  }

  & .burger-bottom {
    transform-origin: 79.167% 79.167%;
    transform: rotate(45deg) scale(1.25, 1) translateX(-2.6px);
  }
}

//////////////////
//
//Menu Open - Nav
//
//////////////////

.mobile {
  & .nav__menu {
    overflow: auto;
    height: 100vh;
    transition: height 0.5s ease-out, overflow 0s 1s;
    // border-bottom: 1px solid black;
  }

  // &::after {
  //   transform: translateY(100vh);
  // }
  // & .nav__link {
  //   transform: translateY(1.5rem);
  // }
}

.nav__img--small {
  height: $navbar-height--small;
  padding: 0.5rem 0;
}

.hidden-nav {
  transform: translateY(-6rem);
}
