$navbar-height: 6rem; /*-- see variables-widths.scss */
$navbar-height--small: 4rem; /*-- see variables-widths.scss */

$nav-color: hsla(0, 0%, 100%, 1);

////////////////////////////////////
// || Typography
////////////////////////////////////
.nav {
  font-family: $secondary-type;
}

////////////////////////////////////
// || NEW NAV
////////////////////////////////////

.mobile body {
  overflow: hidden;
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}
.nav--scrolled {
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024), 0 0px 10px rgba(0, 0, 0, 0.035),
    0 0px 24.1px rgba(0, 0, 0, 0.046), 0 0px 80px rgba(0, 0, 0, 0.07);
}

.nav {
  background: $nav-color;
  max-width: $website-width - 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
  margin: 0 auto;

  @media all and (min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.mobile .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/////////////
// || Logo
/////////////
.nav {
  &__logo {
    z-index: 100;
    & > * {
      display: flex;
      justify-content: start;
      align-items: center;
      flex: 1;
      order: 0;
    }
  }

  &__logo-link,
  &__logo-link:link,
  &__logo-link:visited {
    color: $color-primary-dark;
    height: 4rem;
    margin: 1rem 0;
    transition: height 0.2s, margin 0.2s;
  }

  &__logo-link:hover,
  &__logo-link:focus {
    color: $color-primary-default;

    & .nav__img {
      fill: $color-primary-default;
    }

    & .logo__img--eyebrows {
      transform: translateY(-3px);
    }
  }

  &__logo-link:focus {
    @include link-focus;
  }

  &__logo-link--small,
  &__logo-link--small:link,
  &__logo-link--small:visited {
    height: 3rem;
    margin: 0.5rem 0;
    @media all and (min-width: $desktop) {
      .nav__img {
        height: 3rem;
      }
    }
  }

  &__title {
    display: none;
    margin-left: 1rem;
    line-height: 100%;
    font-size: 150%;

    @media all and (min-width: $desktop) {
      display: inline-block;
    }
  }

  &__img {
    height: 3rem;
    line-height: 100%;
    fill: $color-primary-dark;
    transition: height 0.2s;

    @media all and (min-width: $desktop) {
      height: 3.5rem;
    }
  }
}

////////////
// || Menu
////////////

.nav {
  & .menu-wrapper {
    text-align: center;
    background: $nav-color;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    order: 2;
    height: 0;
    transition: height 0.2s ease-out, overflow 0s 0.2s ease-out, visibility 0.2s;
    visibility: hidden;
    z-index: 99;

    @media all and (min-width: $tablet) {
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      margin-bottom: 0;
      width: auto;
      height: auto;
      min-height: unset;
      overflow: visible;
      visibility: visible;
    }
  }

  & .menu {
    margin-top: 30vh;
    z-index: 100;
    display: inline-block;
    position: relative;

    @media all and (min-width: $tablet) {
      margin: 0;
    }
  }
}

//////////////////
// || Menu Items
//////////////////
.nav {
  & .menu__item {
    display: block;
    line-height: 100%;
    text-align: center;
    margin-bottom: 1.5rem;

    @media all and (min-width: $tablet) {
      margin-bottom: 0;
      display: inline;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  // NAV-LINKS

  & .menu__link,
  & .submenu__link {
    vertical-align: middle;
    color: $color-primary-dark;
    font-size: 150%;

    @media all and (min-width: $tablet) {
      font-size: 100%;
    }
    min-width: 48px;
    padding: 1rem 0;
    background-image: linear-gradient(
      $color-primary-default,
      $color-primary-default
    );
    background-position-y: 75%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size 0.2s ease;
    display: inline-block;

    &--active {
      background-size: 100% 4px;
    }
  }

  // NAV-LINK-ICON

  & .menu__link--icon {
    margin-right: 1rem;
    margin-left: 1.5rem;

    @media all and (min-width: $tablet) {
      margin-right: 0.25rem;
      margin-left: 0rem;
    }
  }

  // NAV-DD-Button

  & .submenu__button {
    position: relative;
    display: inline-block;
    padding: 1rem 0.75rem;
    vertical-align: middle;

    @media all and (min-width: $tablet) {
      padding: 0.75rem 0.25rem;
    }

    &::before {
      margin-right: 2rem;
      content: "";
      position: absolute;
      top: 20%;
      left: 0;
      width: 1px;
      height: 60%;
      background-color: hsl(0, 0%, 80%);

      @media all and (min-width: $tablet) {
        margin-right: 0.5rem;
        top: 30%;
        height: 40%;
      }
    }
  }

  &__icon#chevron {
    fill: $color-primary-dark;
    transition: transform 0.2s;
  }
}

///////////////
// || DD Menu
///////////////
.nav {
  & .submenu {
    display: none;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    font-size: 100%;
    line-height: 100%;
    padding: 0;
    left: 0;
    z-index: 99;

    @media all and (min-width: $tablet) {
      display: none;
      position: absolute;
      left: -1.5rem;
      top: 4rem;
      padding: 1.5rem;
      text-align: left;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024),
        0 0px 10px rgba(0, 0, 0, 0.035), 0 0px 24.1px rgba(0, 0, 0, 0.046),
        0 0px 80px rgba(0, 0, 0, 0.07);

      &::before {
        position: absolute;
        top: -1rem;
        left: 0;
        display: block;
        content: "";
        width: 50%;
        height: 1rem;
        z-index: 1;
      }
    }

    &__link {
      display: inline-block;
      min-width: 48px;
      padding: 1rem 0;
      font-size: 100%;

      @media all and (min-width: $tablet) {
        text-align: left;
        padding: 0.5rem 0;
      }
    }
  }
  & .submenu__item {
    display: block;
    position: relative;
  }

  & .submenu__item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

//////////////////
//
// || BURGER
//
//////////////////
.nav {
  &__toggle {
    color: $color-primary-dark;
    border: none;
    z-index: 100;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.5rem;
    font-size: 100%;
    line-height: 100%;

    @media all and (min-width: $tablet) {
      order: unset;
      display: none;
    }
  }

  &__burger {
    line-height: 100%;
    margin-left: 0.5rem;
  }

  & .icon__burger {
    fill: $color-primary-default;
    transform-origin: 50% 50%;
    transition: transform 0.5s;

    & .burger-middle {
      transform: scaleX(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s;
    }
    & .burger-top {
      transform-origin: 79.167% 20.83%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }

    & .burger-bottom {
      transform-origin: 79.167% 79.167%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }
    & .burger-middle,
    & .burger-top,
    & .burger-bottom {
      transition: transform 0.25s;
    }
  }
}

//////////////////
//
// || Menu Open - Burger
//
//////////////////
.mobile .icon__burger {
  transform: rotate(-360deg);
  transition: transform 0.5s;

  & .burger-middle {
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  & .burger-top {
    transform-origin: 79.167% 20.83%;
    transform: rotate(-45deg) scale(1.25, 1) translateX(-2.6px);
  }

  & .burger-bottom {
    transform-origin: 79.167% 79.167%;
    transform: rotate(45deg) scale(1.25, 1) translateX(-2.6px);
  }
}

//////////////////
//
// || Menu Open - Nav
//
//////////////////

.mobile {
  & .menu-wrapper {
    visibility: visible;
    overflow: auto;
    height: 100vh;
    transition: height 0.2s ease-out, overflow 0s 1s;
  }
}

.hidden-nav {
  transform: translateY(-6rem);
}

//////////////////
//
// || Menu Open - Page content
//
//////////////////

body > *:not(:first-child) {
  visibility: visible;
}
.mobile body > *:not(:first-child) {
  visibility: hidden;
  transition: visibility 0s 0.2s;
}

//////////////////////
//  || States
//////////////////////

// Brand states

// Work chevron for dropdowns

//hover and focus states for nav links
.menu__link:hover,
.menu__link:focus,
.nav .submenu__link:hover,
.nav .submenu__link:focus,
.nav .submenu__item:hover > .submenu__link {
  background-size: 100% 4px;
}

//states for the burger menu
.nav__toggle {
  &:focus {
    @include link-focus;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    outline: none;
  }
}

.nav .submenu__button {
  &:focus {
    @include link-focus;
  }
}

.nav .menu__item--dd:hover {
  & > .menu__link {
    background-size: 100% 4px;
  }
  & #chevron {
    transform: scale(1.1);
  }
}
.nav .submenu__button:hover #chevron {
  transform: scale(1.4);
}
.nav .menu__item--dd:focus-within {
  & > .menu__link {
    background-size: 100% 4px;
  }
}

// .nav__dd-menu:focus-within {
//   display: block;
// }

// .nav .menu__item:hover .submenu,
.nav .menu__item.focus {
  & .submenu {
    display: block;
  }
  & #chevron {
    transform: rotate(180deg);
  }
}
