$navbar-height: 6rem; /*-- see variables-widths.scss */
$navbar-height--small: 4rem; /*-- see variables-widths.scss */

$nav-color: hsla(0, 0%, 100%, 1);

////////////////////////////////////
// || Typography
////////////////////////////////////
.nav {
  font-family: $secondary-type;
}

.nav__title {
  line-height: 100%;
  font-size: 150%;
}
.nav__link {
  line-height: 100%;
  font-size: 150%;
  @media all and (min-width: $tablet) {
    font-size: 100%;
  }
}

.nav__dd-menu .nav__link,
.nav__toggle-text {
  font-size: 100%;
  line-height: 100%;
}

////////////////////////////////////
// || NEW NAV
////////////////////////////////////

.mobile body {
  overflow: hidden;
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}
.nav--scrolled {
  box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024), 0 0px 10px rgba(0, 0, 0, 0.035),
    0 0px 24.1px rgba(0, 0, 0, 0.046), 0 0px 80px rgba(0, 0, 0, 0.07);
}

.nav {
  background: $nav-color;
  max-width: $website-width - 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
  margin: 0 auto;

  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 2px;
  //   background-image: linear-gradient(to bottom, transparent, #333);
  //   position: relative;
  //   bottom: 0rem;
  //   left: 0;
  //   margin: 0 1rem;
  //   transition: transform 2.1s 0.15s ease-out;
  // }

  //

  @media all and (min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.mobile .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/////////////
// || Logo
/////////////
.nav {
  &__logo {
    z-index: 100;
    & > * {
      display: flex;
      justify-content: start;
      align-items: center;
      flex: 1;
      order: 0;
    }
  }

  &__logo-link,
  &__logo-link:link,
  &__logo-link:visited {
    color: $color-primary-dark;
    height: 4rem;
    margin: 1rem 0;
    transition: height 0.2s, margin 0.2s;
  }

  &__logo-link:hover,
  &__logo-link:focus {
    color: $color-primary-default;

    & .nav__img {
      fill: $color-primary-default;
    }

    & .logo__img--eyebrows {
      transform: translateY(-3px);
    }
  }
  &__logo-link:focus {
    @include link-focus;
  }

  &__logo-link--small,
  &__logo-link--small:link,
  &__logo-link--small:visited {
    height: 3rem;
    margin: 0.5rem 0;
    @media all and (min-width: $desktop) {
      .nav__img {
        height: 3rem;
      }
    }
  }

  &__title {
    display: none;
    margin-left: 1rem;

    @media all and (min-width: $desktop) {
      display: inline-block;
    }
  }

  &__img {
    height: 3rem;
    line-height: 100%;
    fill: $color-primary-dark;
    transition: height 0.2s;

    @media all and (min-width: $desktop) {
      height: 3.5rem;
    }
  }
}

////////////
// || Menu
////////////

.nav {
  &__menu {
    background: $nav-color;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    order: 2;
    height: 0;
    transition: height 0.5s ease-out, overflow 0s 1s ease-out, visibility 0s 1s;
    visibility: hidden;
    z-index: 99;

    @media all and (min-width: $tablet) {
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      margin-bottom: 0;
      width: auto;
      height: auto;
      min-height: unset;
      overflow: visible;
      visibility: visible;
    }
  }
}

//////////////////
// || Menu Items/Links
//////////////////
.nav {
  &__item {
    display: block;
    line-height: 100%;
    text-align: center;

    &:first-child {
      margin-top: 20vh;

      @media all and (min-width: $tablet) {
        margin-top: 0;
      }
    }

    &:not(:last-child):after {
      content: "";
      position: relative;
      display: block;
      width: 15%;
      min-width: 3rem;
      height: 1px;
      background-color: #dfdfdf;
      margin: 0.5rem auto;

      @media all and (min-width: $tablet) {
        display: none;
      }
    }

    @media all and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__link {
    color: $color-primary-dark;
    display: inline-block;
    text-align: center;
    min-width: 48px;
    padding: 1rem 0;
    z-index: 100;

    background-image: linear-gradient(
      $color-primary-default,
      $color-primary-default
    );
    background-position-y: 75%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size 0.2s ease;

    &--active {
      background-size: 100% 4px;
    }

    &.nav__link--icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    &.nav__link--icon .nav__icon {
      fill: $color-primary-dark;
      line-height: 100%;
      transition: all 0.2s;
    }
  }
}

///////////////
// || DD Menu
///////////////
.nav {
  &__dd-menu {
    display: block;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    left: 0;
    z-index: 99;

    @media all and (min-width: $tablet) {
      display: none;
      position: absolute;
      left: -1.5rem;
      top: 4rem;
      padding: 1.5rem;
      text-align: left;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow: 0 0px 3.6px rgba(0, 0, 0, 0.024),
        0 0px 10px rgba(0, 0, 0, 0.035), 0 0px 24.1px rgba(0, 0, 0, 0.046),
        0 0px 80px rgba(0, 0, 0, 0.07);
    }

    @media all and (min-width: $tablet) {
      &::before {
        position: absolute;
        top: -1rem;
        left: 0;
        display: block;
        content: "";
        width: 50%;
        height: 1rem;
        z-index: 1;
      }
    }

    & .nav__link {
      display: inline-block;
      min-width: 48px;
      padding: 1rem 0;

      @media all and (min-width: $tablet) {
        text-align: left;
        padding: 0.5rem 0;
      }
    }
  }
  &__dd-item {
    display: block;
    position: relative;
  }

  &__dd-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @media all and (min-width: $tablet) {
    &__item:hover .nav__dd-menu {
      display: block;
    }
  }
}

//////////////////
//
// || BURGER
//
//////////////////
.nav {
  &__toggle {
    color: $color-primary-dark;
    border: none;
    z-index: 100;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.5rem;

    @media all and (min-width: $tablet) {
      order: unset;
      display: none;
    }
  }

  &__burger {
    line-height: 100%;
    margin-left: 0.5rem;
  }

  & .icon__burger {
    fill: $color-primary-default;
    transform-origin: 50% 50%;
    transition: transform 0.5s;

    & .burger-middle {
      transform: scaleX(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s;
    }
    & .burger-top {
      transform-origin: 79.167% 20.83%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }

    & .burger-bottom {
      transform-origin: 79.167% 79.167%;
      transform: rotate(0deg) scale(1, 1) translateX(0px);
    }
    & .burger-middle,
    & .burger-top,
    & .burger-bottom {
      transition: transform 0.25s;
    }
  }
}

//////////////////
//
// || Menu Open - Burger
//
//////////////////
.mobile .icon__burger {
  transform: rotate(-360deg);
  transition: transform 0.5s;

  & .burger-middle {
    transform: scaleX(0);
    transition: transform 0.25s;
  }

  & .burger-top {
    transform-origin: 79.167% 20.83%;
    transform: rotate(-45deg) scale(1.25, 1) translateX(-2.6px);
  }

  & .burger-bottom {
    transform-origin: 79.167% 79.167%;
    transform: rotate(45deg) scale(1.25, 1) translateX(-2.6px);
  }
}

//////////////////
//
// || Menu Open - Nav
//
//////////////////

.mobile {
  & .nav__menu {
    visibility: visible;
    overflow: auto;
    height: 100vh;
    transition: height 0.5s ease-out, overflow 0s 1s;
  }
}

.hidden-nav {
  transform: translateY(-6rem);
}

//////////////////
//
// || Menu Open - Page content
//
//////////////////

body > *:not(:first-child) {
  visibility: visible;
}
.mobile body > *:not(:first-child) {
  visibility: hidden;
  transition: visibility 0s 0.5s;
}

//////////////////////
//  || States
//////////////////////

// Brand states

// Work chevron for dropdowns
.nav__item:hover .nav__link--icon .nav__icon,
.nav__link--icon:focus-within .nav__icon {
  transform: rotate(180deg);
}

//hover and focus states for nav links
.nav__link:hover,
.nav__link:focus,
.nav__dd-item:hover > .nav__link {
  background-size: 100% 4px;
}

//states for the burger menu
.nav__toggle {
  &:focus {
    @include link-focus;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    outline: none;
  }
}

.nav__item:focus-within .nav__dd-menu {
  display: block;
}

.nav__item:focus-within .nav__icon {
  transform: rotate(180deg);
}
