/*/----------------------------\\
      Font Families
-------------------------------\\*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:700i|Lato:400,700|Inconsolata");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;900&display=swap");

$primary-type: "Work Sans", Helvetica, Verdana, sans-serif;
$primary-baseline: 0.158203; //https://jamonserrano.github.io/plumber-sass/baselines/
$secondary-type: "Poppins", Helvetica, Verdana, sans-serif;
$secondary-baseline: 0.15; //https://jamonserrano.github.io/plumber-sass/baselines/
$mono: "Source Code Pro", Courier, mono;
$accent-type: "Oswald", Helvetica, Verdana, sans-serif;

// Font Weights
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/*/----------------------------\\
      Setting baseline grid
-------------------------------\\*/

$gh: 1rem; // SETS UP ENTIRE GRID AS WELL AS TYPOGRAPHY BASE - grid size is $gh/2

$base-font-size: 16;
$base-font-size-rem: ($base-font-size * 2) / 16;
$base-line-height: 1.5; // line height for body, 150%
$magic-number: $gh * $base-line-height;

html {
  font-size: $gh;
  font-family: $primary-type;
  font-weight: $normal;
  color: $color-txt-primary;
} /*18px*/

body {
  // font-family: $primary-type;
  // font-weight: $normal;
  font-size: 100%;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  // line-height: $base-line-height;
}

/*/----------------------------\\
        Modular Scaling
  -------------------------------\\*/
$base-font-size: $gh;
$scale: 1.333;
$font-size: (
  xs: pow($scale, -2) * 100%,
  s: pow($scale, -1) * 100%,
  h6: pow($scale, 1) * 100%,
  h5: pow($scale, 2) * 100%,
  h4: pow($scale, 3) * 100%,
  h3: pow($scale, 4) * 100%,
  h2: pow($scale, 5) * 100%,
  h1: pow($scale, 6) * 100%,
  hero: pow($scale, 7) * 100%,
);

$line-height: (
  xs: ceil(map-get($font-size, xs)),
  s: ceil(map-get($font-size, s)),
  h6: ceil(map-get($font-size, h6)),
  h5: ceil(map-get($font-size, h5)),
  h4: ceil(map-get($font-size, h4)),
  h3: ceil(map-get($font-size, h3)),
  h2: ceil(map-get($font-size, h2)),
  h1: ceil(map-get($font-size, h1)),
  hero: ceil(map-get($font-size, hero)),
);

/*------------------------------------*
  TYPE
*------------------------------------*/

@include plumber-set-defaults(
  $grid-height: $gh,
  $baseline: $primary-baseline,
  $font-size: 1,
  $line-height: $base-line-height,
  $leading-bottom: 1.5,
  // $use-baseline-origin: true
);

/*--- PARAGRAPHS ---*/

p {
  font-size: 100%;
  line-height: 1.5;

  @media all and (min-width: $tablet) {
    font-size: 112.5%;
  }
}

/*--- HEADINGS ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-type;
  font-weight: $medium;
  margin-bottom: 1.5rem;
}

// @import url("https://fonts.googleapis.com/css?family=Poppins:400");

.hero-type,
.h-xxxl {
  font-size: map-get($font-size, hero) * 0.8;
  line-height: 0.9;

  @media all and (max-width: 30em) {
    font-size: map-get($font-size, hero) * 0.6;
  }
  @media all and (min-width: $tablet) {
    font-size: map-get($font-size, hero);
  }
}

h1,
.h-xxl {
  font-size: map-get($font-size, h1) * 0.75;
  line-height: 0.9;

  @media all and (max-width: 20rem) {
    font-size: map-get($font-size, h1) * 0.5;
  }
  @media all and (min-width: $tablet) {
    font-size: map-get($font-size, h1);
  }
}

h2,
.h-xl {
  font-size: map-get($font-size, h2);
  line-height: map-get($line-height, h2);
}

h3,
.h-l {
  font-size: map-get($font-size, h3);
  line-height: map-get($line-height, h3);
}

h4,
.h-med {
}

h5,
.h-small {
}

h6,
small,
.text_small {
}

.section__heading {
  text-align: center;
}
