/*/----------------------------\\
      Font Families
-------------------------------\\*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:700i|Lato:400,700|Inconsolata");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;900&display=swap");

$primary-type: "Work Sans", Helvetica, Verdana, sans-serif;

$secondary-type: "Poppins", Helvetica, Verdana, sans-serif;
$mono: "Source Code Pro", Courier, mono;
$accent-type: "Oswald", Helvetica, Verdana, sans-serif;

// Font Weights
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$gh: 1rem; // SETS UP ENTIRE GRID AS WELL AS TYPOGRAPHY BASE - grid size is $gh/2

$base-line-height: 1.5; // line height for body, 150%
$magic-number: $gh * $base-line-height;

html {
  font-size: 16 / 16 * 100%;
  font-family: $primary-type;
  font-weight: $normal;
  color: $text-lite-bg;

  @media all and (min-width: $tablet) {
    font-size: 18 / 16 * 100%;
  }
  @media all and (min-width: $desktop) {
    font-size: 20 / 16 * 100%;
  }
}

body {
  // font-family: $primary-type;
  // font-weight: $normal;
  // font-size: 100%;
  background-color: $body-bg;
  color: $text-lite-bg;
}

/*/----------------------------\\
        Modular Scaling
  -------------------------------\\*/
$base-font-size: $gh;
$scale: 1.333;
$font-size: (
  xs: pow($scale, -2),
  s: pow($scale, -1),
  h6: pow($scale, 1),
  h5: pow($scale, 2),
  h4: pow($scale, 3),
  h3: pow($scale, 4),
  h2: pow($scale, 5),
  h1: pow($scale, 6),
  hero: pow($scale, 7),
);

$line-height: (
  xs: ceil(map-get($font-size, xs)),
  s: ceil(map-get($font-size, s)),
  h6: ceil(map-get($font-size, h6)),
  h5: ceil(map-get($font-size, h5)),
  h4: ceil(map-get($font-size, h4)),
  h3: ceil(map-get($font-size, h3)),
  h2: ceil(map-get($font-size, h2)),
  h1: ceil(map-get($font-size, h1)),
  hero: ceil(map-get($font-size, hero)),
);

/*------------------------------------*
  TYPE
*------------------------------------*/

/*--- PARAGRAPHS ---*/

p {
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
p.large {
  font-size: map-get($font-size, h6) * 100%;
  font-weight: 400;
}

/*--- HEADINGS ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-type;
  font-weight: $bold;
  margin-bottom: 1.5rem;
}

.hero-type,
.h-xxxl {
  font-size: map-get($font-size, hero) * 60%;
  line-height: 100%;

  @media all and (max-width: 30em) {
    font-size: map-get($font-size, hero) * 100%;
  }
  @media all and (min-width: $tablet) {
    font-size: map-get($font-size, hero) * 100%;
  }
}

h1,
.h-xxl {
  // font-size: ceil(72.5) * 1px;
  font-size: map-get($font-size, h1) * 90%;
  line-height: 100%;

  @media all and (max-width: 20rem) {
    font-size: map-get($font-size, h1) * 100%;
  }
  @media all and (min-width: $tablet) {
    font-size: map-get($font-size, h1) * 100%;
  }
}

h2,
.h-xl {
  font-size: map-get($font-size, h2) * 90%;
  line-height: 100%;
  font-weight: 700;
}

h3,
.h-l {
  font-size: map-get($font-size, h3) * 90%;
  line-height: 100%;
}

h4,
.h-med {
  font-size: map-get($font-size, h4) * 90%;
  line-height: 100%;
}

h5,
.h-sm {
  font-size: map-get($font-size, h5) * 90%;
  line-height: 100%;
}

h6,
.h-xs,
.text_small {
  font-size: map-get($font-size, h6) * 90%;
  line-height: 100%;
}

.section__heading {
  text-align: center;
}

h1 > .h-small {
  font-size: 25%;
}

#work h2 {
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
