button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

.btn {
  // border-radius: $gh/2;
  display: inline-block;
  border: none;
  padding: (1 * $gh) (1.5 * $gh);
  line-height: 1;
  background-color: $color-white;
  color: $text-lite-bg;
  cursor: pointer;
  font-size: 100%;
  font-family: $secondary-type;
}

.btn--primary {
  color: $color-white;
  background-color: map-get($map: $color-primary, $key: 500);
  font-weight: $medium;
  border-radius: 0;
  transition: background-color 0.1s ease-out;

  &:hover {
    background-color: map-get($map: $color-primary, $key: 600);
  }

  &:focus {
    @include link-focus;
    outline-offset: 4px;
    outline-color: map-get($map: $color-primary, $key: 600);
  }
}

a.btn--primary,
a:link.btn--primary,
a:visited.btn--primary {
  color: $color-white;
  text-align: center;

  @media all and (min-width: $tablet) {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn--secondary {
  border: 4px solid $text-lite-bg;
  font-weight: 500;

  &:hover {
    @include shadows(1, "");
  }
}

.btn__icon {
  height: 24px;
  width: 24px;
  margin-left: 1rem;
}

.btn--icon {
  display: inline-flex;
  align-items: center;
  // line-height: 100%;

  & > span {
    line-height: 100%;
    // font-size: 24px;
  }
}
