.form {
  margin: 0 auto;

  color: #333;
  font-family: $secondary-type;
  font-size: 100%;

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: inline-block;
    font-weight: $normal;
    line-height: 1.5;
    margin-bottom: 0.25rem;
  }

  &__field {
    color: darken($color-secondary-dark, 4);
    border: none;

    background-color: rgba(white, 0.85);
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px rgb(86, 86, 86);
    padding: 0.5rem;
    display: block;
    width: 100%;

    &[name="name"],
    &[name="email"] {
      max-width: calc(360 / 16 * 1em);
    }

    font-family: $primary-type;
    font-size: 100%;
    line-height: 1.5;

    &--txtarea {
      line-height: 1.5;
      height: 1rem * 1.5 * 6;
      resize: vertical;
    }

    &:focus {
      background-color: white;
    }
  }

  //////////////////////
  // || Button
  //////////////////////
  &__submit {
    background-color: $color-primary-light;
    font-family: $secondary-type;
    font-size: $base-font-size;
    font-weight: $semibold;
  }
}

//////////////////////
// || Error handling
//////////////////////
.form__group {
  &.error-item {
    color: $color-error;

    & .error:last-child {
      display: block;
      margin-top: 0.125rem;
      font-size: calc(14 / 16 * 100%);
    }
  }
}
