.form {
  // color: #333;
  font-family: $secondary-type;
  font-size: 100%;

  @media all and (min-width: $desktop) {
    padding: 1.5rem;
    // border-radius: 8px;
    background-color: map-get($map: $color-primary, $key: 50);
    box-shadow: 0 16px 0 -8px map-get($color-primary, 300),
      0 32px 0 -16px map-get($color-primary, 500),
      0 48px 0 -24px map-get($color-primary, 700);
  }

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.25rem;
  }

  &__field {
    color: #333;
    border: 2px solid map-get($map: $color-primary, $key: 700);

    background-color: rgba(white, 0.85);
    // border-radius: 4px;
    padding: 0.5rem;
    display: block;
    width: 100%;

    &[name="name"],
    &[name="email"] {
      max-width: calc(360 / 16 * 1em);
    }

    font-family: $primary-type;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 500;

    &--txtarea {
      line-height: 1.5;
      height: 1rem * 1.5 * 6;
      resize: vertical;
    }

    &:focus {
      background-color: white;
    }
  }

  //////////////////////
  // || Button
  //////////////////////
  &__submit {
    color: $color-white;
    background-color: map-get($map: $color-primary, $key: 500);
    font-family: $secondary-type;
    font-size: $base-font-size;
    font-weight: $medium;
    border-radius: 0;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: map-get($map: $color-primary, $key: 600);
    }
  }
}

//////////////////////
// || Error handling
//////////////////////
.form__group {
  &.error-item {
    color: $color-error;

    & .error:last-child {
      display: block;
      margin-top: 0.125rem;
      font-size: calc(14 / 16 * 100%);
    }
  }
}
