.l-contact {
  padding-top: $navbar-height;
  // background-color: $grey-200;
  // height: 100vh;

  & section {
    @include spacer(m, 8, b);
  }
}

.contact__list-item {
  display: block;
  line-height: 0;
  @include spacer(m, 1, b);
  margin-right: auto;
  height: 2rem;
}
.contact__link {
  position: relative;
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

// =================================
//    Email Menu
// =================================

// =================================
//    SVG animations
// =================================
#paper {
  transition: transform 0.25s;
}
#flap-front {
  transform-origin: 50% 11%;
  transition: visibility 0.25s 0.25s, transform 0.25s 0.25s;
}
#flap-back {
  transform-origin: 50% 11%;
  transition: transform 0.25s 0.25s;
}

.contact__link:hover {
  & #paper {
    transform: translateY(-8px);
    transition: transform 0.25s 0.25s;
  }

  & #flap-front,
  & #flap-back {
    transform-origin: 50% 11%;
    transform: rotateX(180deg);
    transition: transform 0.25s;
  }

  & #flap-front {
    visibility: hidden;
    transition: transform 0.25s, visibility 0s 0.25s;
  }

  & #flap-fold {
    opacity: 0;
    transition: opacity 0.1s;
  }

  & #li-border {
    fill: aquamarine;
  }

  & #dot {
    -webkit-animation: bounce 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Safari 4+ */
    -moz-animation: bounce 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Fx 1+ */
    -o-animation: bounce 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Opera 12+ */
    animation: bounce 0.75 cubic-bezier(0.85, 0.01, 0.15, 1) s; /* IE 10+, Fx 29+ */
  }

  & #li-i {
    -webkit-animation: squish 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Safari 4+ */
    -moz-animation: squish 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Fx 1+ */
    -o-animation: squish 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* Opera 12+ */
    animation: squish 0.75s cubic-bezier(0.85, 0.01, 0.15, 1); /* IE 10+, Fx 29+ */
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes squish {
  0% {
    transform-origin: 30% 66%;
    transform: scale(1, 1);
    // transform: scaleX(1);
  }
  10% {
    transform-origin: 30% 66%;
    transform: scale(1.2, 0.9);
  }
  50% {
    transform-origin: 30% 66%;
    transform: scale(0.9, 1.1);
    // transform: scaleX(0.9);
  }
  90% {
    transform-origin: 30% 66%;
    transform: scale(1.05, 0.95);
    // transform: scaleX(1.1);
  }
  100% {
    transform-origin: center 66%;
    transform: scale(1, 1);
    // transform: scaleX(1);
  }
}

@keyframes flap {
  0% {
    transform-origin: 30% 26.5%;
    transform: rotateX(0deg);
    // transform: scaleX(1);
  }
  // 50% {
  //   transform-origin: 30% 51%;
  //   transform: rotateX(0deg);
  // }
  100% {
    transform-origin: 30% 26.5%;
    transform: rotateX(180deg);
  }
}

// @keyframes letter-in {
//   0% {
//     transform: scale(1, 1) translate(3rem, 12rem);
//   }
//   50% {
//     transform: scale(0.1, 0.1) translate(0rem, -23rem);
//   }

//   to {
//     transform: scale(0.1, 0.1) translate(0rem, 0rem);
//   }
// }
// @keyframes letter-out {
//   0% {
//     transform: scale(0.1, 0.1) translate(0rem, 0rem);
//   }
//   20% {
//     transform: scale(0.1, 0.1) translate(0rem, -23rem);
//   }

//   to {
//     transform: scale(1, 1) translate(3rem, 12rem);
//   }
// }
