////////////////////////
// || Color
////////////////////////
.footer {
  color: $color-white;
  background-color: $color-secondary-dark;
}

.footer__link {
  color: $color-white;
}

////////////////////////
// || Typography
////////////////////////
.footer {
  font-family: $secondary-type;
  font-weight: $light;
  font-size: 100%;
}

.footer__link {
  line-height: 150%;
}

.footer__copyright {
  font-size: calc((14 / 16) * 100%);
}

/////////////////////////
// || Layout
/////////////////////////

.footer {
  // @include spacer(p, 2, rl);
  padding-top: 2rem;
  padding-bottom: 0.5rem;

  &__logo {
    line-height: 0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  &__img {
    width: 8rem;
    flex-grow: 3;
    margin-right: 1rem;
  }
  &__bio {
    display: inline-block;
    flex-grow: 0;
    padding: 0;
  }

  &__menu {
    margin-bottom: 2rem;
  }
  &__item {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__link {
    color: $color-white;
  }

  &__copyright {
    padding: 0;
    margin: 0;
  }
}
