.container {
  max-width: $website-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media all and (min-width: $tablet) {
    padding: 0 1rem;
  }
  @media all and (min-width: $desktop) {
    padding: 0 1.5rem;
  }
}

.readable-container {
  max-width: 525px;

  &--centered {
    margin: 0 auto;
  }
}
